body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-text h1 {
    font-size: 3em;
    margin: 0;
}

#hearts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.heart {
    position: absolute;
    color: #e74c3c;
    font-size: 2em;
    opacity: 0;
    animation: float 3s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(100vh) scale(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1.5);
        opacity: 0;
    }
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    margin-bottom: 20px;
}

.additional-content {
    text-align: center;
    margin-top: 50px;
}

.additional-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.additional-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background: #c0392b;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
   
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #c0392b;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: #fff;
}

#continueButton {
    background: none;
    border: none;
    color: inherit; /* Warisi warna teks dari h1 */
    cursor: pointer;
}
