body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .slideshow-container {
    max-width: 800px;
    text-align: center;
  }
  
  .slides {
    
  display: block; 
  }

  #myVideo {
    display: none; /* Sembunyikan video secara default */
  }
  
  .slide {
    max-width: 100%;
    height: auto;
   
  }
  
  .video-container {
    position: relative;
  }
  
  #finishText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #333;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  